<body style="background:url('/images/fine-decor-wallpapers-quartz-cream-trees-wallpaper-2035927285803_1024x.webp')">
<h1 style="text-align: center; font-family: monospace;">LOVE FOR BOOKS ❤</h1>
    <%- include('../includes/navigation.ejs') %>
<h1 style="text-align: center; font-family: monospace;">FACTS</h1>
        <div id="content"  class="container-fluid text-justify">
            <p>
                1. Jane Austen, one of England’s finest novelists, almost died at the age of seven. Both Jane and her sister Cassandra caught diphtheria while in Oxford. Thankfully, Jane’s cousin Jane Cooper sent a letter to Jane’s mother who rushed to her two daughters with an herbal remedy.
            </p><br>
            <p>
                2. Mary Shelley started writing Frankenstein; or, the Modern Prometheus when she was 18 years old. It was published only two years later.
            </p><br>
            <p>
                3. Victor Hugo‘s Les Miserables wasn’t only popular with 19th century Parisians. This massive novel was one of the most widely read books amongst American soldiers in the Civil War.
            </p><br>
            <p>
                4. George Eliot was actually a woman. Mary Ann Evans wrote under this pen name because women authors were not as highly regarded as men. As George Eliot, Evans wrote several novels considered among the best of all time.
            </p><br>
            <p>
                5. Cormac McCarthy wrote with the same typewriter for more than 50 years. When it broke, he auctioned it off to raise proceeds for the Sante Fe institute. It sold for over $250,000 in 2009.
            </p><br>
            <p>
                6. American author William Faulkner wrote the outline to one of his novels on the walls of his writing office in Oxford, Mississippi. Visitors to Faulkner’s Rowan Oak can still see the author’s hand-written notes for his Pulitzer Prize-winning novel A Fable on these walls.
            </p><br>
            <p>
                7. French novelist Stendhal has a clinically recognized disease named after him: Stendhal syndrome. Symptoms of this disease include fainting, shortness of breath, and heart palpitations while viewing exquisite art. Stendhal’s name was chosen for this disease because he almost passed out after seeing Florence’s Basilica of Santa Croce.
            </p><br>
            <p>
                8. John Milton, author of Paradise Lost, had a huge influence on America’s Founding Fathers. His political pamphlet Areopagitica, which argued in favor of the freedom of the press, was a key influence on the U.S. Constitution’s First Amendment.
            </p><br>
            <p>
                9. Emily Dickinson was one of the most reclusive poets in American literary history. From the 1850s till her death, Dickinson mainly stayed within her Amherst family home and only went outside to tend to the garden. She didn’t even leave her upstairs bedroom to attend her father’s funeral downstairs.
            </p><br>
            <p>
                10. Edgar Rice Burroughs, author of Tarzan, worked as a pencil-sharpener salesman before he tried his hand at fiction. Indeed, Burroughs only started writing at the age of 36 to support his wife and two children.
            </p><br>
        </div>
</body>